body, html {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

#main {
  height: 100%;
}

.all-container {
  height: 100%;
}

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;

  .landing-title {
    font-size: 120px;
    font-family: 'Permanent Marker', cursive;
    margin-top: -15vh;
    margin-bottom: 5vh;
  }

  .landing-subtitle {
    font-style: italic;
    font-size: 22px;
    margin-bottom: 2vh;
  }

  .landing-input {
    border-radius: 10px;
    width: 40vw;
    height: 3vh;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    outline: none;
  }

  .landing-button {
    margin-top: 3vh;
  	background-color: #654597;
  	border-radius:12px;
  	border:1px solid #654597;
    box-shadow: 3px 3px 0px 0px #7355A0;
  	display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-size:21px;
  	padding:16px 31px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #2f6627;
    outline: none;
    letter-spacing: 4px;
  }

  .landing-button:active {
    position: relative;
    top: 1px;
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.gradient {
  background-image: linear-gradient(-45deg, #FC466B, #3F5EFB);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 3s infinite linear;
}

.dj-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  margin-bottom: 5vh;
}

.dj-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  font-family: 'Permanent Marker', cursive;
  outline: none;
}

.dj-title:hover {
  cursor: pointer;
}

.dj-songs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 6vh;
}

.dj-list {
  margin-left: 5vw;
  margin-right: 5vw;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.dj-list-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}

.list-title {
  .song-title, .song-artist {
    letter-spacing: 2px;
    color: grey;
    font-size: 18px;
  }

  border-bottom: 1px solid grey;
}

.song {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-around;
  // margin-bottom: 1.5vh;
  padding-top: 1.5vh;
  border-bottom: 1px solid grey;
  padding-bottom: 1.5vh;
  transition: 0.3s;
  .song-title {
    padding-left: 7px;
    width: 400px;
  }
  .song-artist {
    width: 150px;
  }
}

.song-hoverable:hover {
  cursor: pointer;
  background-color: grey;
}

.loading {
  font-size: 22px;
  margin-top: 3vh;
}
